<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tastease.Web</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Recipes" Icon="home">
        <RadzenPanelMenuItem Text="Ingredients" Path="@PageURL.Ingredients" Icon="bookmark_add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="User" Icon="account_circle">
        <RadzenPanelMenuItem Text="CheckBox" Path="/" Icon="check_circle"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
</RadzenPanelMenu>
