<div class="row">
    <div class="col-lg-12">
        <RadzenDropDown AllowClear="true" AllowFiltering="true" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
            Data=@States @bind-Value=@ShelfLife.State Class="w-100" />
        <RadzenMask Mask="**:**:**" CharacterPattern="[0-9]" Placeholder="01:30:00" Name="Time" @bind-Value=@ShelfLife.TimeAsString Style="width: 100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <RadzenButton ButtonStyle="ButtonStyle.Light" ButtonType="ButtonType.Submit"  Icon="save" Text="Save" Disabled=Disabled Click=@Submit/>
    </div>
</div>



@code {
    [Parameter, EditorRequired]
    public IEnumerable<State> States { get; set; }
    [Parameter, EditorRequired]
    public EventCallback<ShelfLifePageModel> OnSubmit { get; set; }
    bool Disabled => !TimeSpan.TryParse(ShelfLife.TimeAsString, out TimeSpan _);
    ShelfLifePageModel ShelfLife { get; set; }
    async Task Submit()
    {
        await OnSubmit.InvokeAsync(ShelfLife);
    }
    protected override void OnInitialized()
    {
        ShelfLife = new();
    }
    
}
